.nav ul {
  padding: 0.7rem 1rem;
  text-transform: uppercase;
}

.nav.open {
  transform: translateX(0);
}

.menu-button {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 70;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: white;
  padding: 10px 0;
  z-index: 60;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 220px;
  min-width: 220px;
  height: 100%;
  background-color: white;
  color: black;
  padding-top: 3.125rem;
}

.nav svg {
  margin-left: 1rem;
}

@media (max-width: 970px) {
  .nav {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding-top: 6rem;
  }

  .nav img {
    display: none;
  }
}

@media (min-width: 970px) {
  .header {
    display: none;
  }

  .menu-button {
    display: none;
  }

  .nav {
    transform: translateX(0);
  }
}
